<?php

declare(strict_types=1);

use Dot\ErrorHandler\ErrorHandlerInterface;
use Dot\ErrorHandler\Extra\Processor\CookieProcessor;
use Dot\ErrorHandler\Extra\Processor\HeaderProcessor;
use Dot\ErrorHandler\Extra\Processor\RequestProcessor;
use Dot\ErrorHandler\Extra\Processor\SessionProcessor;
use Dot\ErrorHandler\Extra\Processor\TraceProcessor;
use Dot\ErrorHandler\Extra\Provider\CookieProvider;
use Dot\ErrorHandler\Extra\Provider\HeaderProvider;
use Dot\ErrorHandler\Extra\Provider\RequestProvider;
use Dot\ErrorHandler\Extra\Provider\ServerProvider;
use Dot\ErrorHandler\Extra\Provider\SessionProvider;
use Dot\ErrorHandler\Extra\Provider\TraceProvider;
use Dot\ErrorHandler\LogErrorHandler;

return [
    'dependencies'     => [
        'aliases' => [
            ErrorHandlerInterface::class => LogErrorHandler::class,
        ],
    ],
    'dot-errorhandler' => [
        'loggerEnabled' => true,
        'logger'        => 'dot-log.default_logger',
        'loggerExtra'   => [
            CookieProvider::class  => [
                'enabled'   => true,
                'processor' => CookieProcessor::class,
            ],
            HeaderProvider::class  => [
                'enabled'   => true,
                'processor' => HeaderProcessor::class,
            ],
            RequestProvider::class => [
                'enabled'   => true,
                'processor' => RequestProcessor::class,
            ],
            ServerProvider::class  => [
                'enabled'   => true,
                'processor' => null,
            ],
            SessionProvider::class => [
                'enabled'   => true,
                'processor' => SessionProcessor::class,
            ],
            TraceProvider::class   => [
                'enabled'   => true,
                'processor' => TraceProcessor::class,
            ],
        ],
    ],
];
